# Binaries
meeting-notes-cli
*.exe
*.out

# Logs
*.log

# OS files
.DS_Store

# Go specific
*.test


feat: (features)

fix: (bug fixes)

docs: (documentation only)

style: (formatting, no logic)

refactor: (code improvement)

test: (tests only)

chore: (maintenance/setup)

.vscode
meetnote       
all_nodes.md
all_notes.txt
         